@keyframes movenews {
    0% {
		@include transform( perspective(800px) rotateX(-90deg));
        opacity: 1;
    } 
    40% {
        @include transform( perspective(800px) rotateX(30deg));
        opacity: 1;
    }
    70% {
         @include transform( perspective(800px) rotateX(-10deg));
    }
    100% {
         @include transform( perspective(800px) rotateX(0deg));
         opacity: 1;
    }
}

@keyframes showDelay {
	90% {
		visibility: hidden;
		opacity: 0;
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
} 

@keyframes fadeInUp {
  0% {
    opacity: 0;
    @include transform( translate3d(0, 100%, 0));
  }

  100% {
    opacity: 1;
    @include transform(none);
    transform: none;
  }
}

.fadeInUp {
	@include animation(fadeInUp);
}

.animation-pop {
	-moz-background-clip: padding;
	-o-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff; 
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.18); 
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.18); 
	-o-box-shadow: 0 0 10px rgba(0,0,0,.18); 
	box-shadow: 0 0 10px rgba(0,0,0,.18); 
	@include animation(movenews 1.2s forwards);
	@include transform-origin(top center);
}
.footer {
	@include gridle(12,desktopess notebook-min);
	@include gridle(12,phoness-min);
	@extend .text-center;
	@extend .no-paddings;
	font:{family:$primary_font;}
	color:#fff;
	position: relative;	
	//height: $height-footer;
	margin: {top:-$height-footer;}
	.bg-newsletter {
		@include gridle(12);
		@include gridle_float(none);
		@extend .no-paddings; 
		background: #000;
		opacity: 0.6;
		height: 100%;
		width: 100%;
	    position: fixed;
	    z-index: 9999999999;
	    top: 0;
	    left: 0; 
	    display: none;
	}
	.newsletter-new-suscribe {
		@include gridle(12);
		@include gridle_float(none);
		@extend .no-paddings; 
		@extend .text-center;
		height: 100%;
		width: 100%;
	    position: fixed;
	    z-index: 99999999999;
	    top: 0;
	    left:0;
	    display: none;
	    .content-popups {
	    	@include gridle(5, desktopess);  
	    	@include gridle(7, notebook-min);
	    	@include gridle(9, tabless-min);
	    	@include gridle(11, phoness-min phoness);
	    	@include gridle_float(none); 
			display: block;
			margin:{top:10%;left:auto;bottom:0;right:auto;}
			background: none;
			position:absolute;
			font:{family:$primary_font;}
			padding:{left:0;bottom:0; right:0;}
			left: 0;
			right: 0;
			@include gridle_state(phoness-min) {
				margin:{top:20px;}
			}
			article {
				.bg-color-popups {
					position: absolute;
				    height: 100%;
				    width: 100%;
				    z-index: 0;
					background-size: cover;
				}
				.bg-content-popups {
					@include gridle(12);
					@extend .no-paddings;
					z-index: 200;
					.close-button-popups {
						@include gridle(2);
						@include gridle_float(right);
						text-align: right;
						cursor: pointer;
						padding:{top: 10px !important;right: 15px !important;}
						position: relative; 
					}
					.first-box-popups {
				    	@include gridle(11);
				    	@include gridle_float(none); 
				    	@extend .text-left;
				    	padding:{top:20px;bottom:20px;}
				    	position: relative;
				    	@include gridle_state(phoness-min) {
							padding:{top:0;bottom:0;} 
						}
				    	.content-first-box-pop {
				    		@include gridle(4);
				    		@include gridle(12, phoness-min);
				    		@extend .no-paddings;
					    	.logo {
					    		@include gridle(12);
				    			@include gridle_float(none); 
								@extend .no-paddings;
					    		svg {
					    			fill:#FFF;
					    		}
					    	}
					    	.title-content-p {
					    		@include gridle(12);
				    			@include gridle_float(none); 
				    			@extend .no-paddings;
								font:{size:40px;weight:bold;} 
								line-height: 15px;
					    	}	
				    	}
				    }
				    .second-box-popups {
				    	@include gridle(11);
				    	@include gridle_float(none);
				    	@extend .no-paddings;
				    	.form-popups {
				    		@include gridle(6);
				    		@include gridle(12, phoness-min);
				    		position: relative;
				    		.mymail-form {
								.mymail-wrapper {
									&.mymail-email-wrapper {
										@include gridle(12);
										@extend .no-paddings;
										@extend .text-left;
										label {
											color: #fff;
											font:{style: italic;}
											span {
												&.required {
													color:#FFF !important;
												}
											}
										}
										input{
											@include gridle(12);
											color:#fff;
											border: 1px solid #fff;
											height: 30px;
											font:{size:15px;}
											background: none;
											outline: none;
											@include placeholder{
												color: #fff;	
											}
										}	
									}	
									&.mymail-firstname-wrapper {
										@include gridle(12);
										@extend .no-paddings;
										@extend .text-left;
										label {
											color: #fff;
											font:{style: italic;}
											span {
												&.required {
													color:#FFF !important;
												}
											}
										}
										input {
											@include gridle(12);
											color:#fff;
											border: 1px solid #fff;
											height: 30px;
											font:{size:15px;}
											background: none;
											outline: none;
											@include placeholder{
												color: #fff;	
											}
										}	
									}
									&.mymail-submit-wrapper {
										@include gridle(12);
										@extend .no-paddings;
										position: relative;
										margin: 10px 0;
										@include gridle_state(phoness-min) {
											margin:{top:10px !important;}
										}
										input {
											@include gridle(12); 
											padding: 9px 0;
											margin: 0 !important;
											background: $second_color_1;
											color: #FFF;
											font:{size:11px;} 
											margin:0 20px; 
											text:{transform:uppercase;} 
											border:0;
											font:{weight:bold;} 
											outline: none;
										}
										.submit-button {
											  margin:{left: 0px !important;}
											.button {
												margin: 0 !important;
											}	
										} 
									}
								}
								.mymail-form-info {
									&.error {
										background:none !important;
										display: inline-block;
										font:{size: 12px;}
										color:#FFF;
										border:1px solid #FFF;
										p {
											@include gridle(12);
											margin-bottom: 0;
											position: relative;
											float: left;
										}
										ul {
											@include gridle(12);
											@extend .no-paddings;
											li {
												@include gridle(12);
												@extend .no-paddings;
												@include gridle_state(phoness-min) {
													float: none;
												}
											}
										}
									}
									&.success {
										background:none !important;
										border:1px solid #FFF;
										color:#FFF;
									}
								}
								@include gridle_state(phoness-min) {
									padding:{bottom: 20px;}
								}
								.mymail-loader {
									display: none !important;
									visibility: hidden !important; 
								}
							}
				    	}
				    	.texto-popups {
				    		@include gridle(5);
				    		@include gridle(12, phoness-min);
				    		@include gridle_float(none);
				    		padding:{top:10px;} 
				    		position: relative;
				    		@include gridle_state(phoness-min) {
								padding:{top:0;} 
							}
				    		.mensaje-popups {
				    			@include gridle(12);
				    			@include gridle_float(none);
				    			@extend .text-center;
				    			h2 {
									text:{transform: uppercase;}
									font:{size: 15px;}
									margin: 5px 0;
									@include gridle_state(phoness-min) {
										display: none;
									}
								}		
				    			.mensaje-single {
				    				font:{size:12px;}
				    				margin:{bottom: 15px;}
				    				@include gridle_state(phoness-min) {
										display: none;
									}
				    			}
				    		}
				    		.social-popups {
				    			@include gridle(12);
				    			@include gridle_float(none);
				    			@extend .text-center;
				    			ul {
									margin:0;
									padding:0;
									li {
										height: 40px;
										width: 40px;
										border:{radius:50%;}
										background:#FFF;
										display: inline-block;
										list-style: none;
										margin: 0 5px !important;
										@include gridle_state(phoness) {
											height: 35px;
											width: 35px;
										}
										a {
											text:{align:center;}
											height: inherit;
											width: inherit;
											display: table;
											i {
												display: table-cell;
												vertical-align: middle;
												color: $second_color;
												font:{size: 24px;}
												@include gridle_state(phoness) {
													font:{size: 18px;} 
												}	 
											}
										}
									}
								}
				    		}
						}
				    }	
				}
			}
			.newsletter-footer {
		    	@include gridle(5, desktopess);  
		    	@include gridle(7, notebook-min);
		    	@include gridle(9, tabless-min);
		    	@include gridle(11, phoness-min phoness);
		    	@include animation(showDelay 5.0s ease-in);
		    	@include gridle_float(none); 
		    	padding:0;
		    	display: block;
		    	margin:0 auto;
				position: absolute;
				right: 0;
				bottom: -42px;  
			    .content-poweredby {
					@include gridle(5, desktopess noteboo-min tabless-min);  
					@include gridle(3, phoness);  
					@include gridle(5, phoness-min);  
					@include gridle_float(right);
					padding: 0;
					margin:0 auto;
					display: table;
					.powered-txt {
						@include gridle(4);
						@include gridle_float(none);
						color: #FFF;
						font:{size: 10px;}
						display: table-cell;
						vertical-align: middle;
						padding: 0;
						text:{align:right;}
					}
					.logo-powered {
						@include gridle(2);
						@include gridle_float(none);
						padding:0;
						display: table-cell;
						vertical-align: middle;
						svg {
							width: 100%;
							height: auto;
							display: block;
							fill: white;
						} 
					}
				}	
		    }
		}	
	}    
	.footer-content {
		@include gridle(12);
		@extend .no-paddings;
		@extend .no-margins;
		background:{color:$third_color;}
		.container-footer {
			@include gridle(8,desktopess);
			@include gridle(12,phoness-min notebook-min tabless-min tabless-md);
			@include gridle_push(2,desktopess);
			@extend .text-center;
			@extend .no-margins;
			display: block;
			margin: 0 auto;
			position: relative;
			@include gridle_state(phoness-min tabless-md notebook-min){
				margin: 0;
				left: 0;
			}
			.first-box {
				@include gridle(12);
				padding: 10px 0;
				@include gridle_state(phoness-min){
					padding:0;
				}
				.logo {
					@include gridle(2,desktopess notebook-min);
					@include gridle(12,phoness-min);
					@include gridle(4,tabless-min);
					@include gridle_clear(both); 
					@include gridle_float(center);
					margin: 0 auto;
					display: block;
					a{	
						@include gridle(12,desktopess notebook-min tabless-min phoness-min);
						@include gridle_state(phoness-min){
							margin:{top:15%;bottom:-15%;} 
						}
						svg{
							max-height: 40px;
						}
					}
				}
				.nav {
					@extend .text-center; 
					display:block;
					margin: 0 auto;
					@include gridle_state(phoness-min){
						display: none;
					}
					ul {
						@extend .no-paddings;
						@extend .no-margins;
						text:{decoration:none}
						list-style: none;
						display: inline-block;
						li {
							display: inline-block;
							a {
								color: #000;
								font:{size:11px;} 
								margin:{left: 42px;}
								text:{transform:uppercase;} 
								font:{weight:bold;} 
							}	
						}	
					}
				}
			}
			.second-box {
				@extend .no-paddings;
				@include gridle(8,desktopess notebook-min);
				@include gridle(10,tabless-min);
				@include gridle(12,phoness-min);
				@include gridle_state(notebook-min){
					float:none;
				}
				.newsletter {
					@include gridle(12);
					position: relative;
					@include gridle_state(phoness-min){
						padding:{bottom:0;}
					}
					@include gridle_state(tabless-min){
						padding:{left:10px;right: 10px;}
					}
					@include gridle_state(notebook-min){
						padding:{left:0;right:0;}
					}
					#wysija-2{
						h3{
							@extend .no-paddings;
							color:$third_color_2;
							text:{transform:uppercase;} 
							margin:{top:20px; bottom:5px;}
							@include gridle_state(phoness-min){
								margin:{top:0;}
							}
						}
						.widget_wysija_cont{
							.widget_wysija{
								.wysija-paragraph{
									label{
										@include gridle_hide();
									}
									.wysija-input{
										@include gridle(10,desktopess notebook-min);
										@include gridle(8,phoness-min);
										border:1px solid $third_color_2;
										outline:none !important; 
										background: none;
										padding:10px 5px;
										@include border-top-radius(0);
										@include border-right-radius(0);
										@include border-bottom-radius(0);
										@include border-left-radius(0);
										@include gridle_state(notebook-min){
											padding:9px 5px;
										}
										@include gridle_state(tabless-min){
											padding:10px 5px;
										}
									}
								}
								.wysija-submit{
									@include gridle(2,desktopess notebook-min);
									@include gridle(4,phoness-min);
									border:1px solid $third_color_2;
									padding:10px 5px;
									color:$third_color_2;
									font:{weight:bold;} 
									text:{transform:uppercase;align:center;}
									margin: 0;
  									background: none;
									@include gridle_state(notebook-min){
										padding:9px 5px;
										border:1px solid $third_color_2;
									}
									@include gridle_state(tabless-min){
										padding:10px 5px;
										border:1px solid $third_color_2;
									} 
								}
							}
						}
					}
				}
			}
			.third-box {
				@extend .no-paddings;
				@include gridle(3, desktopess notebook notebook-min);
				@include gridle_state(phoness-min tabless-min){
					display: none;
				}
				.siguenos {
					text:{decoration:none}
					list-style: none;
					ul {
						@extend .no-paddings;
						@extend .no-margins;
						@include gridle(12,desktopess notebook-min);
						height: auto;
						float: none;
						@include gridle_state(desktopess, notebook-min) {
							padding:{top: 15px !important;}
						}
						li {
							@extend .no-paddings;
							@extend .text-center;
							@include gridle(3,desktopess notebook-min);
							display:inline-block;
							float: none;
							a {
								@extend .text-center;
								@extend .border-radius;
								background: {color:$second_color}
								display: table;
								height: 40px;
								width: 40px;
								display:table;
								margin: 0 auto;
								i {
									@include gridle(12);
									color:$third_color;
									display: table-cell;
									font:{size:20px;}
									float: none;
									text:{align:center;}
									vertical-align: middle;
								}
							}
						}
					}
				}
			}
			.four-box {
				@include gridle(6,desktopess notebook-min);
				@include gridle(7,tabless-min);
				@include gridle(12,phoness-min); 
				@include gridle_float(none);
				padding: 10px 0;
				@include gridle_state(phoness-min){
					padding:{top:0;}
				}
				ul {
					@extend .no-margins;
					@extend .no-paddings;
					@include gridle(12,phoness-min); 
					li {
						
						display: inline-block;
						border-right: 1px solid #000;
						padding: 0 10px;
						margin:5px 0;
						float: none;
						@include gridle(12,phoness-min);
						@include gridle_state(phoness-min){
							text:{align:center;}
							border:0;
							padding:0;
						}
						&:first-child {
							padding: {right:20px;}
							border-right: 1px solid #000;
							@include gridle_state(phoness-min){
								border-right: 0;
								padding: 0;
								margin:0;
							}
						}
						&:last-child {
							border:0;
							@include gridle_state(phoness-min){
								margin:0; 
							}
						}
						a {
							color: #000;
							font:{size:11px;} 
							margin:0 20px; 
							text:{transform:uppercase;} 
							font:{weight:bold;} 
						}
					}
				}
			} 
			h4 {
				@extend .no-paddings;
				color:$third_color_2;
				text:{transform:uppercase;} 
				margin:{top:20px; bottom:5px;}
				@include gridle_state(phoness-min){
					margin:{top:0;}
				}
			}
		}
	}
	.cont-feedinstaram {
		@include gridle(12);
		background:rgba(0,0,0,0.7);
		height:250px;
		margin:0 auto;
		h2 {
			margin:{top:15px;}
			span {
				font:{weight:light;}
			}
		}
		#instafeed {
			@include gridle(12);
			padding: 20px 0;
			img {
				margin:{right: 30px;}
				border:{radius:5px;}
			}
		}	
	}
} 
@keyframes movenews {
    0% {
		@include transform( perspective(800px) rotateX(-90deg));
        opacity: 1;
    } 
    40% {
        @include transform( perspective(800px) rotateX(30deg));
        opacity: 1;
    }
    70% {
         @include transform( perspective(800px) rotateX(-10deg));
    }
    100% {
         @include transform( perspective(800px) rotateX(0deg));
         opacity: 1;
    }
}
@keyframes showDelay {
	0% {
		visibility: hidden;
		opacity: 0;
	}
	50% {
		visibility: visible;
		opacity: 1;
	}
}
.animation-pop {
	-moz-background-clip: padding;
	-o-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff; 
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.18); 
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.18); 
	-o-box-shadow: 0 0 10px rgba(0,0,0,.18); 
	box-shadow: 0 0 10px rgba(0,0,0,.18); 
	@include animation(movenews 1.2s forwards);
	@include transform-origin(top center);
}